{% extends "layout.html" %}
{% block content %}

<!--    <h1>Planet Visibility</h1>-->
<!--    {% for post in posts %}-->
<!--        <h2>{{ post.planet }}</h2>-->
<!--        <p>Rise: {{ post.rise }}</p>-->
<!--        <p>Comment: {{ post.comment }}</p>-->
<!--    {% endfor %}-->

    <h1>Today's Planet Visibility</h1>
        <table id="tableid">
        <thead>
            <tr>
                <th>Planet</th>
                <th>Rise</th>
                <th>Set</th>
                <th>Meridian</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
    {% for thing in jsonfile %}
        <tr>
            <td>{{ thing.Planet }}</td>
            <td>{{ thing.Rise }}</td>
            <td>{{ thing.Set }}</td>
            <td>{{ thing.Meridian }}</td>
            <td>{{ thing.Comment }}</td>
        </tr>
    {% endfor %}
        </tbody>
        </table>
        <br>
    <div>
        <h1>Click on a planet below for more info:</h1>
        <a href="{{ url_for('mercury') }}" class="btn btn-outline-info">Mercury</a>
        <a href="{{ url_for('venus') }}" class="btn btn-outline-info">Venus</a>
        <a href="{{ url_for('mars') }}" class="btn btn-outline-info">Mars</a>
        <a href="{{ url_for('jupiter') }}" class="btn btn-outline-info">Jupiter</a>
        <a href="{{ url_for('saturn') }}" class="btn btn-outline-info">Saturn</a>
        <a href="{{ url_for('uranus') }}" class="btn btn-outline-info">Uranus</a>
        <a href="{{ url_for('neptune') }}" class="btn btn-outline-info">Neptune</a>
    </div>
        <br>
    <h1>Today's Weather</h1>
    <table id="tableid">
        <thead>
            <tr>
                <th>High Temp</th>
                <th>Low Temp</th>
                <th>Median Temp</th>

            </tr>
        </thead>
        <tbody>
    {% for thing in weather %}
        <tr>
            <td>{{ thing.high }}</td>
            <td>{{ thing.low }}</td>
            <td>{{ thing.median }}</td>

        </tr>
    {% endfor %}
        </tbody>
        </table>

{% endblock content %}
